body {
    padding: 0px;
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
div#main{
    width: 810px;
    text-align: left;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -450px;
}

div#header{
    background-color: #a8bfb9;
    width: 800px;
    height: 50px;
    border: 1px solid #ECECEC;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0px;
}

#header div{
    color: #595959;
    font-size: 40px;
    font-weight: bold;
    font-family: Vladimir Script;
    left: 40px;
    top: 10px;
    position: relative
}

div#menu{
    background-color: #a8bfb9;
    width: 800px;
    height: 20px;
    border: 1px solid #ECECEC;
    border-radius: 0px 0px 10px 10px;
    border-top: 0px;
    padding-top: 4px;
}
div#body{
    min-height: 400px;

}

div#footer{
    background-color: #a8bfb9;
    width: 800px;
    height: 15px;
    border: 1px solid #ECECEC;
    border-radius: 6px;
    position: relative;
    bottom: 0px;
}

#footer div{
    color: #595959;
    font-size: 12px;
    font-family: Vladimir Script;
    position: relative
    width: 100%;
    text-align: center;
}

.mb{
    padding-left: 10px;
    text-decoration: none;
    position: relative;
    top: 5px;
}

.mb:hover{
    padding-left: 10px;
    text-decoration: none;
    background-color: red;
    position: relative;
    top: 5px;
}

table#list
{
    border: border: 1px solid #ECECEC;
    width: 400px;
}

td#list
{
    color: #e4cc34;
    width: 50px;
}

div#tst{
    color: #ECECEC;
    font-size: 20pt;

}

div.hiddenDiv
{
    min-height: 30px;
}

div.button
{
    color: #000;
    text-align: center;
    width: 50px;
    background: #b1c4e4;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #000;
}
div.button:hover
{
    text-align: center;
    width: 50px;
    background: #ECECEC;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 6px 06px 6px 6px;
    border: 1px solid #000;
    cursor: pointer;
    z-index: 50px;
}

div.bMenu
{
    display: none;
    min-height: 80px;
    min-width: 160px;
    z-index: 100;
}

div#add_user
{
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;
        padding: 14px 22px;
        width: 400px;
        height: 200px;
        position: relative;
        display: none;
        font-size: 2em;
        text-align: center;
}

#rounded-corner
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 25px;
    width: 750px;
    text-align: left;
    border-collapse: collapse;
}


#rounded-corner thead th
{
    background: #b9c9fe;
}

#rounded-corner thead th.maxright
{
    background: #b9c9fe;
    -moz-border-radius: 0px 10px 0px 0px;
    -webkit-border-radius: 0px 10px 0px 0px;
    border-radius: 0px 10px 0px 0px;
}
#rounded-corner thead th.maxleft
{

    -moz-border-radius: 10px 0px 0px 0px;
    -webkit-border-radius: 10px 0px 0px 0px;
    border-radius: 10px 0px 0px 0px;
}

#rounded-corner th
{
    padding: 4px;
    font-weight: normal;
    font-size: 12px;
    color: #039;
    background: #b9c9fe;
}

#rounded-corner td
{
    padding: 4px;
    border-top: 1px solid #fff;
    color: #669;
}
.hiddenTD td
{
    height: 0px;
    padding: 0px;
}

.trtoggle
{
    background-color: #e8edff;
    cursor: pointer;
}
.trtoggle:hover
{
    background-color: #ececec;
}

table.subTable
{

    border-collapse: collapse;
    width: 100%;
        background-color: #FCFCFF;    
}



table.subTable tr:hover
{
    background-color: #bcbcbc;    
}

/*============================
For Inputs
*/

input[type=text], textarea {
  @include transition(all 0.30s ease-in-out);
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  height: 25px;
  width: 380px;
  font-size: 1.2em;
}
 
input[type=text]:focus, textarea:focus {
  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

label {
  width: 150px;
  float: left;
}



/*============================
FOR AUTOCOMPLETE BOX
*/
.autocomplete-w1 
{
    /*
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 2px;
    -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 2px;
    box-shadow:  rgba(0,0,0,.6) 0px 2px 2px;
    background: #eef2f7;
    */
    position:absolute; 
    top:0px; 
    left:0px; 
    margin:6px 0 0 6px; 
    /* IE6 fix: */ 
    _background:none; 
    _margin:1px 0 0 0; 
}
.autocomplete 
{ 
    border:1px solid #999; 
    background:#FFF; 
    cursor:default; 
    text-align:left; 
    max-height:350px; 
    overflow:auto; 
    margin:-6px 6px 6px -6px; 
    /* IE6 specific: */ 
    _height:350px;  
    _margin:0; 
    _overflow-x:hidden; 
}
.autocomplete .selected 
{ 
    background:#F0F0F0; 
}
.autocomplete div 
{ 
    padding:2px 5px; 
    white-space:nowrap; 
    overflow:hidden; 
}
.autocomplete strong 
{ 
    font-weight:normal; 
    color:#3399FF; 
}

/*=============================*/